@using EventManager.Models.Notification;
@model List<NotificationViewModel>
<div class="content-header">
    <div class="container-fluid">


        @foreach (var item in @Model)
        {
            if (@item.IsRead)
            {
                <div class="card " style="width:350px; margin-top:15px; margin-left:4vw; background-color: #f8f9fa;">

                    <div class="card-body">
                        <div class="row card-body">
                            <div class="col-sm-8">
                                <a asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.EventId">
                                    <h5 style="color:#414042">@item.EventName</h5>
                                </a>
                                <p7>@item.SharingTime<br></p7>
                                <p2>@item.Message</p2>
                            </div>
                            <div class="col-sm-4">
                                <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-link" style="position: absolute; right: 10px;">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card " style="width:350px; margin-top:15px;margin-left:4vw;  background-color: #f8f9fa; border: 2px solid black;">

                    <div class="card-body">
                        <div class="row card-body">
                            <div class="col-sm-8">
                                <a asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.EventId">
                                    <h5 style="color:#414042">@item.EventName</h5>
                                </a>
                                <p7>@item.SharingTime<br></p7>
                                <p2>@item.Message</p2>
                            </div>
                            <div class="col-sm-4">
                                <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-link" style="position: absolute; right: 10px;">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>





